@import "tailwindcss";

@theme {
	/* Colors */
	--color-primary: oklch(0.685 0.169 237.323);
	--color-primary-dark: oklch(0.5 0.134 242.749);
	--color-plain-green: oklch(0.685 0.169 237.323);
	--color-plain-dark: #080a09;
	--color-plain-dark-secondary: #131615;
	--color-plain-gray: #f7f7f5;
    --color-plain-text-gray: #666666;

	--font-body: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-display: var(--font-body);
}

@layer base {
    body {
        font-family: var(--font-body);
        @apply text-gray-900 bg-white antialiased;
    }
}

.container-custom {
    @apply max-w-[1200px] mx-auto px-4 sm:px-6 lg:px-8;
}
